:root{
    --blue:#0096FF;
    --golden-yellow:#FFC000;
    --white:#fff;
    --gray:#ddd;
}

*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat',sans-serif;
    background-color: var(--gray);
    min-height: 100vh;
    display: grid;
    grid-template-columns: 0.7fr 3.3fr;
    grid-auto-rows: auto; 
}

h2{
    font-size: 1.2rem;
    position: absolute;
    top: -2em;
    left: 0;
}

.header{
    grid-column: 2;
    grid-row: 1;
    background-color: var(--white);
    padding: 1em 1em 0;
}

.search{
    display: flex;
    justify-content: space-around;
    margin-bottom: 2em;
}

.search-input{
    display: flex;
    align-items: center;
    margin-right: auto;
    gap: 10px;
}

input[type="search"]{
    width: 100%;
    height: 30px;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    padding-left: 10px;
    border: 2px solid var(--gray);
    background-color: var(--gray);
    border-radius: 10px;
    box-shadow: -5px -2px 0 0 #aaa;
}
 
.user{
    display: flex;
    gap: 20px;
    align-items: center;
    font-weight: bold;
}

.user :nth-child(2){
    border-radius: 50%;
}

.user-btn{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    margin-bottom: 1em;
}

.user-btn img{
    border-radius: 50%;
}

.btns{
    display: flex;
    gap: 20px; 
}

button{
    -webkit-appearance: none; 
    -moz-appearance: none; 
    appearance: none;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    background-color: var(--blue);
    color: var(--white);
    padding: 0.5em 2em; 
    border-radius: 20px;
}

.user-name{
    font-size: 13px;
    display: flex;
    gap: 15px;
    align-items: center;
    margin-right: auto;
}
.name :last-child{
    font-weight: bold;
    font-size: 16px;
}


.main{
    padding: 1em; 
    margin:3em 0 4em;
}

.title :nth-child(2){
    justify-self: end; 
    margin-right: 2em;
}

.container{
    grid-column: 2;
    grid-row: 2; 
    background-color: var(--gray);
    display: grid;
    grid-template-columns: 2.1fr 0.9fr;
    grid-template-rows: auto;
    gap: 1.5rem;
}
 
.projects{
    grid-column: 1;
    grid-row: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 1.5rem;
    position: relative;
}



.projects>div{
    background-color: var(--white);
    border-radius: 10px;
    padding: 1em; 
    border-left:10px solid var(--golden-yellow);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto ;
    align-content: space-around;
}

.projects h3{
    font-size: 16px;
    margin-bottom: 0.3em;
}
.projects p{
    font-size: 14px;
}

.projects .icon{
    justify-self: end;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.updates{
    grid-column: 2;
    grid-row: 1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 1.5rem;
    position: relative;
}

.updates h2{
    margin-bottom: -0.8em;
}

.updates>div{
    background-color: var(--white);
    padding: 2em;
    border-radius: 10px;
}

.updates h3{
    font-size: 16px;
    padding-top: 1.5em;
    padding-bottom: 0.5em;
}

.announcement{
    position: relative;
}

.announcement p{
    font-size: 13px;
    padding-bottom: 1.5em;
    border-bottom: 2px solid var(--gray);
}
.announcement p:last-child{
    border-bottom: none;
}

.trends{
    position: relative;
    margin-top: 3em;
}

.trends>div{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: start;
    gap: 1rem;
    margin: 1.5em;
    font-size: 13px; 
}

.trends img{
    border-radius: 50%;
}


.sidebar{
    background-color: var(--blue);
    color: var(--white);
    grid-column: 1;
    grid-row: 1 / 3;
    padding:3em 1em;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    align-content: start;
    gap: 5rem;
}

.outer{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    font-size: 0.8rem;
}

.inner{ 
    display: grid;
    grid-template-columns: 13px 13px;
    grid-template-rows: 8px 8px 8px;
    gap: 2px; 
}
.item-one{
    background-color: var(--white);
    grid-column: 1;
    grid-row: 1 / 3;
}

.item-two{
    background-color: var(--white);
    grid-column: 2;
    grid-row: 1;
}
.item-three{
    background-color: var(--white);
    grid-column: 1;
    grid-row: 3;
}
.item-four{
    background-color: var(--white);
    grid-column: 2;
    grid-row: 2 / 4;
}

.sidebar .icon div{
    display: flex; 
    gap: 1em;
    margin-bottom: 2em; 
    font-weight: bold;
}
.sidebar img{
    width: 20px;
}
.messages img{
    transform:scaleX(-1);
}